AZURE_TOKEN_URL=https://login.microsoftonline.com/example-tenant/oauth2/v2.0/token
AZURE_CLIENT_ID=replace-with-client-id
AZURE_CLIENT_SECRET=replace-with-client-secret
AZURE_API_SCOPE=api://example/.default
PRODUCT_DOCUMENTS_API_URL=https://apidevtest01.azure-api.net/bdiaz-bd-productdocuments
